# compiled output
.vscode
/node_modules
/dist
/db
/logs
/rabbit

# code formatter
.eslintrc
.eslintignore
.editorconfig
.huskyrc
.lintstagedrc.json
.prettierrc
.env
.env.development.local

# test
jest.config.js

# docker
Dockerfile
docker-compose.yml


Modelfile
